* {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
  }
  /* li {
    list-style: none;
  }
  
  .links a {
    text-decoration: none;
    color:black;
    font-size: 1rem;
    border: solid transparent;
    border-radius: 5px;
   padding: 5px;
  }
  
  .links a:hover {
  
   
   border: solid white;
    color: black;
    background-color: rgb(152, 225, 225);
    box-shadow: 2px 2px 10px 4px rgb(221, 223, 224);
  }
  .navbar {
    background-image: url("./img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 2rem;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
  
    z-index: 10;
  }
  .btn {
    font-size: 1.5rem;
    display: none;
    position: absolute;
    right: 1rem;
    font-size: large;
    color: white;
  }
  .navbar .logo a {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-style: italic;
  }
  
  .navbar .links {
    display: flex;
    gap: 2rem;
  }
   */

   #aimg ,#bimg, #cimg{
    height: 80vh;

    
    object-fit: cover;

   }
   .section2{
    padding: 2rem;
   }
   .box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   }
   .box1 img{
   object-fit: cover;
  height:35rem;
  width: 50rem;
  
   }
   .box2{
    height:35rem;
    padding: 1rem;
width: 50rem;
   }
.circle{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.b1{text-align: center;
  padding: 1rem;
  border: 2px dotted black;
  border-radius: 50%;
  height:7rem;
  width:7rem;
}
.amt{display: flex;
  justify-content: center;
  gap: 20px;

}
.buttons{

  text-align: center;
}
.but1 ,.but2{
  border: 2px solid black;
  font-weight: bolder;
  height: 4rem;
  width: 10rem;
  border-radius: 27px;
  font-size: 20px;
  background-color: transparent;
}
.but2{
  border: hidden;
  background-color: aquamarine;
  color: white;
}
.section4{
  text-align: center;
  padding: 5rem;
}
.section5{
  text-align: center;
}
.section6{
  text-align: center;
  padding: 2rem;
}
.sec6-box{
  
  align-items: center;

}
.map{
  height: 20rem;
  width: auto;
}


.section7{padding: 1rem;
  text-align: center;
  color: white;
background-color:rgb(26, 26, 26); 
}
.socicons{padding:1rem ;
  font-size: 20px;
}




@media screen and (max-width: 880px){
.box{
  display: block;
}
/* .box1 img{
  width:23rem;
} */
.box2{
  width:auto;
  height: auto;
}

.map iframe{
  width: 20rem;
  height: 15rem;
}

#sect2{
  display: block;
}

}

  